.title {
  color: #38a169;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  color: white;
}

.stepsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-image: url('/Line.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.stepItem {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.checkmark {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #38a169;
  background-color: #38a169;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 2;
}

.stepText {
  color: white;
  font-size: 0.875rem;
  text-align: center;
}

.stepItem::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #38a169;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.stepItem:last-child::after {
  display: none;
}

/* Адаптивность для экранов до 1024px */
@media (max-width: 1024px) {
  .stepsContainer {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }
  .checkmark {
      height: 80px;
      width: 80px;
  }
  .stepItem::after {
      width: 80px;
  }
}

/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
  .stepsContainer {
      grid-template-columns: repeat(2, 1fr);
  }
  .checkmark {
      height: 70px;
      width: 70px;
  }
  .stepItem::after {
      width: 60px;
  }
}

/* Адаптивность для экранов до 480px */
@media (max-width: 480px) {
  .stepsContainer {
      grid-template-columns: 1fr;
      gap: 20px;
  }
  .checkmark {
      height: 60px;
      width: 60px;
  }
  .stepItem::after {
      display: none;
  }
}
