.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

   margin-top: 150px;
  
}

@media (max-width: 1200px) {
    .wrap {
      grid-template-columns: repeat(3, 1fr); /* 3 колонки на средних экранах */
      gap: 15px;
    }
  }
  
  @media (max-width: 992px) {
    .wrap {
      grid-template-columns: repeat(2, 1fr); /* 2 колонки на планшетах */
      gap: 20px;
      margin-top: 100px;
    }
  }
  
  @media (max-width: 600px) {
    .wrap {
      grid-template-columns: 1fr; /* 1 колонка на мобильных */
      gap: 25px;
      margin-top: 80px;
    }
  }
  