.card {
    color:#c6ffee;
    border: 4px solid black;
    height: 500px;
    align-items: center;
    text-align: center;
    width: 300px;
  background-color: #18152C;
  border-radius: 10px;

  &:hover {
    
    transition: 0.5s;
    box-shadow: 0px 10px 60px rgba(36, 210, 132, 0.5);
  }

  
  

    h3 {
        
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }

    p {
        
        font-weight: 60;
    }
}