.title {
    color: white;
    
    a {
        width: 390px;
        text-decoration: none;
        text-align: center;
        padding: 30px;
        background: #9A24D2;
        color: white;
        border: none;
        display: flex;
        justify-content: center;
        gap: 40px;
        border-radius: 20px;
        &:hover {
            transition: 0.5s;
            box-shadow: 0px 10px 60px rgba(154, 36, 210, 0.5);
            scale: 1.1;
        }
        img {
            height: 20px;
        }
    }

    h1 {
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .wrap {
        grid-template-columns: 1fr;
        gap: 50px;
        align-items: center;
    }
    .title h1 {
        font-size: 40px;
    }
    .title a {
        max-width: 300px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .wrap {
        gap: 30px;
    }
    .title h1 {
        font-size: 35px;
    }
    .title a {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .wrap {
        gap: 20px;
        grid-template-columns: 1fr;
    }
    .title h1 {
        font-size: 28px;
    }
    .title a {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}