.wrap {
    color: white;
    background-image: url(./trading.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    filter: brightness(1.7);
  
    p {
        font-size: 20px;
        font-weight: 100;
    }

    h5 {
        border: 2px solid #9A24D2;
        width: 200px;
        padding: 20px;
        background: #9A24D2;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            transition: 0.5s;
            box-shadow: 0px 10px 60px rgba(154, 36, 210, 0.5);
            scale: 1.1;
           }
    }

    h1 {
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
    }

    button {
        width: 390px;
        text-align: center;
        padding: 30px;
        background: #9A24D2;
        color: white;
        border: none;
        display: flex;
        justify-content: center;
        gap: 40px;
        border-radius: 20px;
       &:hover {
        transition: 0.5s;
        box-shadow: 0px 10px 60px rgba(154, 36, 210, 0.5);
        scale: 1.1;
       }
        img {
            height: 20px;
        }
    }
}
