.wrap {
    display: flex;
    justify-content: center;
    color: white;
    gap: 30px;
    background: linear-gradient(180deg, rgba(14, 12, 27, 0) 72.6%, #0E0C1B 95.07%);
    border: 1px solid black;
    width: 1320px;
    height: 1010px;
    margin-top: 100px;
    margin-left: -70px;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.5);
}

.wrap h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    display: flex;
    gap: 20px;
    align-items: center;
}

.text p {
    font-weight: 400;
}

.text img {
    width: 30px;
    height: 30px;
}

.igor {
    width: 740px;
    height: 964px;
    top: 1071px;
    left: 939px;
}

/* Адаптивность для экранов до 1024px */
@media (max-width: 1024px) {
    .wrap {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .wrap h1 {
        font-size: 40px;
    }
    .igor {
        width: 600px;
        height: auto;
    }
}

/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
    .wrap {
        gap: 20px;
    }
    .wrap h1 {
        font-size: 35px;
    }
    .text {
        flex-direction: column;
        text-align: center;
    }
    .igor {
        width: 500px;
    }
}

/* Адаптивность для экранов до 480px */
@media (max-width: 480px) {
    .wrap {
        padding: 20px;
        box-shadow: none;
    }
    .wrap h1 {
        font-size: 30px;
    }
    .text img {
        width: 25px;
        height: 25px;
    }
    .igor {
        width: 100%;
        height: auto;
    }
}