.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.link {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.link a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.link a:hover {
    scale: 1.1;
    color: #00FFB2;
}

.slk a {
    text-decoration: none;
    background-color: #070610;
    border: 1px solid #00FFB2;
    width: 160px;
    height: 44px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .link {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .slk a {
        width: 140px;
        height: 40px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .menu {
        margin-bottom: 50px;
    }
    .link {
        gap: 10px;
    }
    .slk a {
        width: 130px;
        height: 38px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .menu {
        margin-bottom: 30px;
    }
    .link {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .slk a {
        width: 120px;
        height: 36px;
        padding: 6px;
    }
}
