.container {
  background: #121212;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #00ff99;
}

.subtitle {
  font-size: 1.2rem;
  color: #b400ff;
  font-weight: bold;
  margin-top: 0.5rem;
}

.description {
  color: #cccccc;
  margin-top: 1rem;
  font-size: 1rem;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input {
  width: 300px;
  padding: 0.8rem;
  background: #1a1a1a;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}

.button {
  background: #b400ff;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 326px;
  transition: background 0.3s ease;
}

.button:hover {
  background: #8c00cc;
}

.privacy {
  font-size: 0.8rem;
  color: #777;
  margin-top: 1rem;
}

.content {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

/* Адаптивность */
@media (max-width: 1024px) {
  .content {
      gap: 50px;
      flex-direction: column;
      align-items: center;
  }
  .input, .button {
      width: 280px;
  }

}

@media (max-width: 768px) {
  .container {
      padding: 1.5rem;
  }

  .img {
    width: 100px;
    margin-right: 600px;
  }
  .title {
      font-size: 1.8rem;
  }
  .subtitle {
      font-size: 1.1rem;
  }
  .input, .button {
      width: 250px;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 1rem;
  }
  .title {
      font-size: 1.5rem;
  }
  .subtitle {
      font-size: 1rem;
  }
  .input, .button {
      width: 100%;
  }
  .content {
      gap: 20px;
  }
}
