.title {
    color: white;
    

    a {
        color: white;
        text-decoration: none;
        margin: 10px;

    }

  
}

.wrap {
    display: flex;
    justify-content: space-between;
}